# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

env:
  HF_HOME: ${{ github.workspace }}/.cache/huggingface
  ONNXRUNTIME_NIGHTLY_URL: https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/ORT-Nightly/pypi/simple/

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Until actions/checkout update
          fetch-tags: true
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
      - name: Install dependencies
        run: uv sync --frozen

      - name: Lint code with Ruff
        run: ruff check --output-format=github
      - name: Check code formatting with Ruff
        run: ruff format --diff
      - name: Check types with MyPy
        run: mypy .

      - name: Cache HF models
        uses: actions/cache@v5
        with:
          path: ${{ env.HF_HOME }}
          key: ${{ runner.os }}-hf-models
      - name: Test with pytest
        run: pytest --cov --cov-report term --cov-report xml --junitxml junit.xml -o junit_family=legacy
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          report_type: test_results

      - name: Build docs site
        run: mkdocs build --strict
      - name: Build package dist
        run: |
          uv pip compile --group build --generate-hashes -o build-constraints.txt
          uv build -b build-constraints.txt --require-hashes
      - uses: actions/upload-artifact@v6
        with:
          name: wheels
          path: ./dist/onnx_asr-*.whl
          retention-days: 3

  test:
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, ubuntu-24.04-arm]
        python-version:
          ["3.10", "3.11", "3.12", "3.13", "3.13t", "3.14", "3.14t"]
        include:
          - numpy-version: numpy~=2.3
          - onnxruntime-version: onnxruntime~=1.24.0.dev
          - hf-hub-version: huggingface-hub~=1.3.0
          - python-version: "3.10"
            numpy-version: numpy==1.21.6
            onnxruntime-version: onnxruntime==1.18.1
            hf-hub-version: huggingface-hub==0.30.2
          - python-version: "3.11"
            numpy-version: numpy~=1.26
            onnxruntime-version: onnxruntime~=1.20.1
            hf-hub-version: huggingface-hub~=0.36.0
          - python-version: "3.12"
            numpy-version: numpy~=2.1.3
            onnxruntime-version: onnxruntime~=1.22.1
            hf-hub-version: huggingface-hub~=1.0.1
          - python-version: "3.13"
            onnxruntime-version: onnxruntime~=1.23.2
        exclude:
          - python-version: "3.13t"
            os: windows-latest
          - python-version: "3.14t"
            os: windows-latest
          - python-version: "3.13t"
            os: macos-latest
          - python-version: "3.14t"
            os: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv with Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          python-version: ${{ matrix.python-version }}
      - uses: actions/download-artifact@v7
        with:
          name: wheels
          path: ./dist

      - name: Install package with (${{ matrix.numpy-version }}, ${{ matrix.onnxruntime-version }}, ${{ matrix.hf-hub-version }})
        shell: bash
        env:
          UV_INDEX: ${{ matrix.onnxruntime-version == 'onnxruntime~=1.24.0.dev' && env.ONNXRUNTIME_NIGHTLY_URL || '' }}
          UV_INDEX_STRATEGY: unsafe-best-match
        run: >-
          uv pip install --group test ./dist/onnx_asr-*.whl
          ${{ matrix.numpy-version }}
          ${{ matrix.onnxruntime-version }}
          ${{ matrix.hf-hub-version }}

      - name: Cache HF models
        uses: actions/cache@v5
        with:
          path: ${{ env.HF_HOME }}
          key: ${{ runner.os }}-hf-models
      - name: Test with pytest
        run: pytest ./tests/onnx_asr --junitxml junit.xml -o junit_family=legacy
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          report_type: test_results
          flags: ${{ matrix.os }},python-${{ matrix.python-version }}

  complete:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
